
body{
    background-color: rgba(2, 223, 252, 0.884);
}
h1{
    text-align: center;
}

nav{text-align: right;
    margin-bottom: 20px;
    margin-right: 20px;
}
 a{color: black;
    border: solid antiquewhite 4px;
    background-color: antiquewhite;  
    font-style:initial;
    
}
.aa{
    text-align: right;
    margin-right: 5px;
}
article{
    margin: 40px;
    
}
main{
    background-color: blueviolet;
    margin: 20px;
    border-radius: 8px;
}
#lel{
    text-align: center;
}

#adat{margin-top: 10px;
    
}
#adat1{
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#ujkutya-form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 10px;
    padding: 5px;
}
#ujkutyaa{
    width: 90px;
    height: 55px;
    background-color: rgb(255, 255, 255);
    border: solid 1px black;
    margin-right: 5px;
    
}
#ujkutya-hozzaadas{
    margin-top: 24px;
    
}

.prompt {
    background-color: #f2f2f2;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #888;
  }
#gomb{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
  }
  header button{
    width: 50%;
    margin: auto;
  }
  header input{
    margin: 5px;
    margin-left: 5px;
    width: 70%;
    
  }
  h4{
    text-align: center;
}

  
  @media only screen and (max-width: 650px) {
    #adat1{
        display: grid;
        grid-template-columns: 1fr ;
    }
  }
  
  @media only screen and (max-width: 800px) {
    #ujkutya-form{
        display: grid;
        grid-template-columns: 1fr ;
    }
    

  }
  @media only screen and (max-width: 650px) {
    #gomb{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .aa{
        text-align: center;
        
    }
  }
  