header h1{
    text-align: center;
}
article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
img{
    width: 70%;
}
nav{text-align: center;}
.card{
    margin-top: 10px;
    margin-left: 10px;
}


