header h1{
    text-align: center;
}
main{
    margin-left: 60px;
    margin-right: 50px;
    background-color: blueviolet;
}
article{
   
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}

img{
    width: 100%;
    
}
#keres {
    border-radius: 20px;
    padding: 10px;
  }
nav{text-align: center;
    margin: 5px;
}
.card{
    margin :5px;
    
}
input[type="text"]{
    width :100%;
}

